body {
    margin: 0px;
    font: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: rgb(255, 251, 2);
    width: 100vw;
    height: 400vw;
   background-color: rgb(255, 255, 255);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 500vh;
  }
  
  .Todo-Item:hover .trash-icon {
    display: block;
  }
  
  a#signout {
    text-decoration: none;
    font-weight: 500;
    border: purple;
  }