<table border="1">
    <tr>
        <th>id</th>
        <th>title</th>
        <th>Due Date</th>
        <th>Completed</th>
    </tr>
    <% todos.forEach(todo =>
    { %>
        <tr>
        <td><%= todo.id %></td>
        <td><%= todo.title %></td>
        <td><%= todo.dueDate %></td>
        <td><%= todo.completed %></td>
        </tr>
   <% }); %>
</table>
table
